header {
  background-image: url(../img/background.jpg);
}
section h3.section-subheading {
  font-size: 25px;
}
  .plan-header {
    width: 100%;
    background-color: #222;
        padding-bottom: 15px;
        margin-top: 64px;
        
        
  }
.container {
  margin-left: auto;
  margin-right: auto;
}
.plan-date {
  color: white;
  padding-top: 20px;
}

.plan-li {
  margin-top: 40px;
}

.btn {
  font-size: 30px;
  margin-bottom: 0;
}

.btn-circle {
width: 70px;
height: 70px;
margin-top: 15px;
padding: 2px 16px;
border: 2px solid #fff;
border-radius: 35px;
font-size: 40px;
color: #fff;
background: 0 0;
}
.diy {
    display: block;
  padding-bottom: 20px  ;
    width: 41%;
  height: 174px;
}
.plan-dsc {
  text-align: left;
}
.timeline-panel >.plan-row  {
  float: right;
}
li.timeline-inverted>.diy {
    float: left;
    text-align: right;
    padding-left: 100px;
    padding-right: 20px;
}
li.no-inverted>.diy {
    float: right;
    text-align: left;
    padding-right: 100px;
    padding-left: 20px;
}


.navbar-default .navbar-brand {
  font-family: Ubuntu,Arial,cursive;
  font-weight: bold;
}
.any {
  color: #ef6e20;
}
.moving {
  color: white;
}
.registration {
  margin-left: auto;
  margin-right: auto;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

#hidden_1 {
  margin-bottom: }


.plan-underheader {
  margin-bottom: 11px;
  text-transform: none;
  font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 25px;
  font-style: italic;
  font-weight: 400;
}



.row {
  margin-right: 0px;
  margin-left: 0px;
  
}

.navbar {
  border: 1px solid transparent;
}
h1, .h1, h2, .h2, h3, .h3 {
  margin-top: 20px;
}

.top-plan {
  margin-top: 40px;
}

.bottom-button {
  margin-left: auto;
  text-align: center;
  margin-right: auto;
}

#plan {
  background-color: #f7f7f7;
  padding-bottom: 75px;
}

.last-li {
  margin-bottom: 64px;
}
@media(min-width:768px) {
  section {
  }

.timeline>li {
  margin-bottom: 85px;
}
header .intro-text {
  padding-top: 150px;
}
header .intro-text .intro-heading {
  margin-bottom: 10px;
}}
section {
}
footer {
  padding: 25px 0;
}

.fa-angle-double-up {
  padding-bottom: 0px;
}

.spacer {
  margin-top: 64px;
}

.register-in {
  margin-bottom: 20px;
        font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 20px;
        font-style: italic;
        line-height: 40px;
        margin-top: 10px;
}
.register-in-top {
  margin-bottom: 10px;
        font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 20px;
        font-style: italic;
        line-height: 40px;

}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  min-height: 1px;
}
@media (min-width: 992px) {
  .col-md-5 {
    width: 50.66666667%;
    margin-top: 25px;
  }
}
.btn-group, .btn-group-vertical {
  margin-top: -10px;
}