<span id="cal-slide-tick" style="display: none"></span>
<div id="cal-slide-content" class="cal-event-list">
<!--	<ul class="unstyled list-unstyled">
		<% _.each(events, function(event) { %>
			<li>
				<span class="pull-left event <%= event['class'] %>"></span>&nbsp;
				<a href="<%= event.url ? event.url : 'javascript:void(0)' %>" data-event-id="<%= event.id %>"
					data-event-class="<%= event['class'] %>" class="event-item">
					<%= event.title %></a>
			</li>
		<% }) %>
	</ul>-->

    <div class="content-section-a">

        <div class="container">
            <% _.each(events, function(event) { %>
                <div class="row">
                    <div class="col-lg-5 col-sm-6">
                        <p class="lead">
                            <a href="<%= event.url ? event.url : 'javascript:void(0)' %>" target="_blank" data-event-id="<%= event.id %>"
                               data-event-class="<%= event['class'] %>" class="event-item">
                                <strong><%= event.title %></strong>
                            </a>
                            <!--<input type="checkbox" name="my-checkbox" checked>-->

<!--                        <div class="btn-group" data-toggle="buttons-radio">
                            <button name="includeicon" type="button" class="btn btn-default btn-success active" value="1"><i class="glyphicon glyphicon-ok"></i></button>
                            <button name="includeicon" type="button" class="btn btn-default" value="0"><i class="glyphicon glyphicon-remove"></i></button>
                        </div>

                        <div class="btn-group" data-toggle="buttons-radio">
                            <button name="includeicon" type="button" class="btn btn-default" value="1"><i class="glyphicon glyphicon-ok"></i></button>
                            <button name="includeicon" type="button" class="btn btn-default btn-danger active" value="0"><i class="glyphicon glyphicon-remove"></i></button>
                        </div>-->

                            <br><a><%= event.description %></a>

                            <!-- Индикатор выполнения -->
                            <div class="btn-group" data-toggle="buttons-radio">
                                <button name="state" type="button" class="btn btn-default btn-xs" value="">Выполнено</button>
                                <button name="state" type="button" class="btn btn-default btn-xs btn-success active" value="active">В процессе</button>
                                <button name="state" type="button" class="btn btn-default btn-xs" value="disabled">Не пригодилось</button>
                            </div>
                        </p>
                    </div>
<!--
                    <div class="col-lg-5 col-sm-6">
                        <div class="coupons">
                            <div class="coupon-block">
                                <div class="accordion-group">
                                    <div class="accordion-heading">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#coupon22"></a>
                                        <figure>
                                            <img src="img/miel.jpg" alt="" />
                                            <span class="date">до 31.12.2014</span>
                                        </figure>
                                        <p>
                                            Хотите арендовать квартиру?<br/>
                                            Получите бесплатно<br/>
                                            гарантийный сертификат<br/>
                                            от miel.ru
                                        </p>
                                    </div>
                                    <div id="coupon22" class="accordion-body collapse">
                                        <div class="accordion-inner">
                                            <div class="step">
                                                <p class="step-head">Шаг 1 из 2. Принятие условий акции</p>
                                                <p><span>Я хочу получить гарантийный сертификат, дающий мне право бесплатно воспользоваться услугами компании Миель по поиску арендного жилья.</span></p>
                                                <a href="#" class="deny">Не принимаю</a>
                                                <a href="#" class="accept">Принимаю</a>
                                            </div>
                                            <div class="step">
                                                <p class="step-head">Шаг 2 из 2.  Получение кода активации сертификата</p>
                                                <p>Введите номер мобильного телефона. В ответ вам будет выслано сообщение с кодом, который  вам нужно будет сообщить при обращении в компанию Миель.</p>
                                                <div class="by-card">
                                                    <form action="#" method="post">
                                                        <input type="text" class="input-medium" placeholder="Номер мобильного телефона" />
                                                    </form>
                                                    <a href="#" class="deny">Отменить</a>
                                                    <a href="#" class="accept check">Отправить</a>
                                                </div>
                                            </div>
                                            <div class="step">
                                                <p class="step-head"><strong>Код отправлен!</strong></p>
                                                <p>Спасибо вам за то, что воспользовались нашим сервисом. Теперь вы можете распечатать свой купон, или получить код по электронной почте, для того, чтобы воспользоваться нашим предложением.</p>
                                                <a href="#" class="accept finish">Отправить по электропочте</a>
                                                <a href="#" class="accept finish">Распечатать купон</a>
                                            </div>
                                            <div class="step sms">
                                                <p class="step-head">Шаг 2 из 2.  Оплата через SMS- сообщение</p>
                                                <p>Отправьте SMS на короткий номер <strong>353</strong>, чтобы оплатить купон. В ответ вам будет выслано сообщение с кодом, который  вам нужно будет ввести в следующе поле:</p>
                                                <input type="text" class="sms-field" />
                                                <a href="#" class="deny">Отменить</a>
                                                <a href="#" class="accept finish">Оплатить</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
-->
                </div>
            <% }) %>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

</div>
